[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
requests = "*"
pydantic = {extras = ["email"], version = "*"}
python-dotenv = "*"
asyncpg = "*"
pwdlib = {extras = ["argon2"], version = "*"}
pyjwt = "*"
pydantic-settings = "*"
multipart = "*"
python-multipart = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.13"
